<div class="container" (click)="display=false;">
    <app-nav></app-nav>
    <app-toast [toast]="toast" (test)="toast.active=$event"></app-toast>

    <app-modal [modal]="modal" (modalClick)=delete($event)></app-modal>

    <div class="grid-container">

        <div class="form card" [formGroup]="form">
            <input type="text" formControlName="name" placeholder="name">
            <input type="number" formControlName="amount" placeholder="amount" step="0.1">
            <app-dropdown [fruits]="fruits" [fruitsArray]="fruitsArray" [(display)]="display"></app-dropdown>

            <button class="button submit" (click)="addExpense()" [class.disabled]="!form.valid" [disabled]="!form.valid"
                *ngIf="!editFlag">add expense</button>

            <button class="button default" (click)="test()">test</button>


            
            <div *ngIf="editFlag" style="display: flex;gap:1em;">
                <button class="button submit" (click)="edit()" [class.disabled]="!form.valid" [disabled]="!form.valid">
                    update expense
                </button>

                <button class="button default" (click)="cancelEdit()">
                    cancel
                </button>
            </div>


        </div>

        <div class="table-container card">
            <span *ngIf="data.length!=0">
                <app-table [data]="data" [additionalFeatures]="additionalFeatures" (deleteData)="openModal($event)"
                    (editData)="populateFields($event)">
                </app-table>
            </span>

        </div>
    </div>
</div>