.modal-container {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  pointer-events: none;
  opacity: 0;
  place-items: center;
  backdrop-filter: blur(7px);


  perspective: 40em;
  /* closing speed */
  transition: 1.5s cubic-bezier(0.25, 0.74, 0.22, 0.99);
}

.modal-open {
  opacity: 1;
  pointer-events: all;
  /* opening speed */
  transition: 0.5s cubic-bezier(0.25, 0.74, 0.22, 0.99);

  /* display: block; */
}

.modal {
  transform-style: preserve-3d;
  padding: 1.5em 0.3em;
  z-index: 2;

  transform: rotateY(90deg) rotateX(60deg) translateY(30%);
  transition: 1s cubic-bezier(0.25, 0.74, 0.22, 0.99);
  background: white;
}

.modal-content-open {
  transform: initial;
  transition: 1s cubic-bezier(0.25, 0.74, 0.22, 0.99);
  /* transform: scale(1); */
}

.modal p {
  padding: 1em;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.button-container .button {
  width: 5em;
}
