.checkbox-dropdown {
    border: 1px solid grey;
    color:rgb(78, 77, 77);
    padding: 0.8em;
    font-size: 0.9em;
    border-radius: 0.3em;
    position: relative;
    cursor: pointer;
  }
.checkbox-dropdown:focus-within{
    box-shadow: 0 0 0 0.2rem #c1c2f9;
}

  
  .dropdown {
    overflow: hidden;
    position: absolute;
    background: white;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(80%);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    border: 1px solid grey;
    border-top: none;
    border-radius: 0.3em;
  
    transition: 350ms ease-in-out;
  }
  
  .display {
      pointer-events: all;
  visibility: visible;
  opacity: 1;
  transform: translateY(102%);
  transition: 350ms ease-in-out;
  }
  