<div class="checkbox-dropdown" (click)="displayDropDown($event)" >
    checkbox dropdown
    <div class="dropdown" [class.display]="display">
    <div style="display: flex;gap:0.3em;padding:0.2em;align-items: center;">
        <input type="checkbox" value="select all" (click)="checkAll($event)" [checked]="fruits.value.length==fruitsArray.length">
        select all

    </div>
    <div *ngFor="let fruit of fruitsArray;index as i" style="display: flex;gap:0.3em;padding:0.2em;align-items: center;">
        <input type="checkbox" value="fruit" (click)="test(fruit,$event)" [checked]="fruits.value.includes(fruit)">
        {{fruit}}
    </div>
</div>
</div>