<div class="container">
    <app-nav></app-nav>


    <app-toast [toast]="toast" (test)="toast.active=$event"></app-toast>

    <app-modal [modal]="modal" (modalClick)=delete($event)></app-modal>

    <div class="grid-container">
        <div class="form card" [formGroup]="form">
            <input type="text" formControlName="name" placeholder="name">
            <input type="number" formControlName="price" placeholder="price" step="0.01">
            <input type="number" formControlName="buyAmount" placeholder="buy amount">
            <button class="button submit" (click)="addStock()" [class.disabled]="!form.valid"
                [disabled]="!form.valid">add stock</button>
            <!-- <button class="button submit" (click)="test()">test</button> -->
        </div>



        <div class="stats-container card">
            <h1>Stats</h1>

            <div *ngIf="selectedData!=null" class="status-info-container">
                <div class="box info-form card" [formGroup]="sellForm">
                    <input type="number" formControlName="currentAmount" placeholder="current value">
                    <button class="button default" (click)="calculate()" [class.disabled]="!sellForm.valid"
                        [disabled]="!sellForm.valid">calculate</button>
                </div>

                <div class="box info-table card" style="padding:0em;">
                    <!-- <h1>{{selectedData.name}}</h1> -->
                    <span *ngIf="calculatedStats.length!=0">
                        <app-table [data]="calculatedStats" [additionalFeatures]="calculatedStatsFeatures"></app-table>
                    </span>
                </div>
            </div>
        </div>

        <div class="table-container card">
            <span *ngIf="data.length!=0">
                <app-table [data]="data" [additionalFeatures]="additionalFeatures" (selectedData)="getStats($event)" (deleteData)="openModal($event)">
                </app-table>
            </span>

        </div>

    </div>
</div>