<table>
    <tr>
        <th *ngFor="let title of titles">{{title}}

            <span *ngIf="additionalFeatures.sort">
                <span (click)="sort(title)" style="cursor: pointer">&uarr;&darr;</span>
            </span>
        </th>
    </tr>


    <tr *ngFor="let data of data">
        <td *ngFor="let title of titles" (click)="getStats(data)">{{data[title]}}</td>
    </tr>
    <tr *ngIf="additionalFeatures.grandTotal.enabled" class="grand-total">
                <td>Grand Total</td>
                <td *ngFor="let title of titles|slice:1">{{grandTotal[title]}}</td>
            </tr>

</table>