<table>
    <tr>
        <th *ngFor="let title of titles; index as i">{{title}}

            <span *ngIf="additionalFeatures.sort">
                <span (click)="sort(title,i)" class="arrow" [class.rotate-arrow]="i==clickedIndex">&uarr;&darr;</span>
            </span>
        </th>

          <th  *ngIf="additionalFeatures.delete">
                delete
            </th>

            <th  *ngIf="additionalFeatures.edit">
                edit
            </th>
  
    </tr>


    <tr *ngFor="let data of data" tabindex="0">
        <td *ngFor="let title of titles" (click)="getStats(data)" >{{data[title]}}</td>
        <td *ngIf="additionalFeatures.delete">
            <span style="color: #607d8b;" (click)="delete(data)"><fa-icon [icon]="faTrash"></fa-icon></span>

        </td>
        <td *ngIf="additionalFeatures.edit">
            <span style="color: #607d8b;" (click)="edit(data)"><fa-icon [icon]="faEdit"></fa-icon></span>

        </td>
    </tr>
    <tr *ngIf="additionalFeatures.grandTotal.enabled" class="grand-total">
        <td>Grand Total</td>
        <td *ngFor="let title of titles|slice:1">{{grandTotal[title]}}</td>

    </tr>


</table>